<div class="flex flex-col h-screen">
    <div class="h-1/6  bg-black ">
        <h1 class="text-white">This is fantastic</h1>
    </div>
                    


    <div class="flex h-5/6">
        <div class="hidden lg:w-2/6 lg:block bg-rose-200 overflow-y-scroll">
            <app-side-nav (newInputEvent)="updateTheFieldList($event)"></app-side-nav>
            <!-- <p *ngFor="let x of taskList" class="h-1/5">Choice{{x}}</p> -->
        </div>
        <div class="w-screen flex justify-center lg:w-4/6 ">

            <!-- This is my main Form -->
            
            <div class="shadow-2xl w-11/12 mt-4 ring-2 ring-black rounded overflow-y-scroll relative">
                <!-- Each Div corresponds to a subsection -->
                <app-form [mastersData] ="completeData"></app-form>
                
                <p *ngFor="let x of taskList" class="h-1/5">Content{{x}}</p>
                <div class="w-full bg-black sticky bottom-0 ">
                    <p class="text-white ">This is where candidate would see instructions to fill the field</p>
                </div>
 
            </div>
            
        </div>
    </div>
    
</div>

