<div >
    <div class="flex justify-around  p-2">
        <button class="bg-rose-400 px-4 py-2 rounded-r-lg" (click)="debug()">create header</button>
        <button class="bg-rose-400 px-4 py-2 rounded">create subsection</button>
        <button class="bg-rose-400 px-4 py-2 rounded-l-lg">create footer</button>
    </div>
    <!-- Header -->
    <div>
        <!-- <button class="bg-black text-white rounded ring-white" (click)="addNormalInput()">Add Normal Input</button> -->
    </div>
    <!-- Main -->
    <div class = "w-full">
        <div class="flex flex-col items-center w-full gap-y-4">
            <p>Question that you want to ask?</p>
            <div class="w-full flex justify-center">
                <textarea class="rounded resize-none w-11/12 px-2"></textarea>
            </div> 
            <div>
                <select class="rounded p-2 flex justify-center">
                    <option value="">Type of Input</option>
                    <option value="shortText">Short Text</option>
                    <option value="longText">Long Text</option>
                    <option value="yesorno">Yes/ No</option>
                    <option value="checklist">Check List</option>
                    <option value="multipleOptions">Multiple Options</option>
                    <option value = "datepicker">Date Picker</option>
                    <option value="dropdown">Dropdown</option>
                    <option value="Table">Table</option>
    
                </select>
            </div>
            
        </div>
        <div class="w-full flex flex-col items-center pt-4">
                <p class="w-11/12 bg-white text-center rounded-t-lg p-4 ">Configure the options</p>
                <div class="pt-2 w-11/12 rounded-b-lg divide-y divide-stone-900">
                    <input type="text" class="w-full p-2  rounded-lg">
                    <input type="text" class="w-full p-2  rounded-lg">
                    <input type="text" class="w-full p-2  rounded-lg">
                    <input type="text" class="w-full p-2  rounded-lg">
                    <input type="text" class="w-full p-2  rounded-lg">
                </div>
                <div class="pt-2 w-11/12 rounded-b-lg divide-y divide-stone-900">
                    <div>
                        lllllllllll
                        <input type="text">
                        <select></select>
                    </div>
                </div>
                <div class="flex justify-end pt-2">
                    <button>Add+</button>
                </div> 
        </div>
        <div class="w-full flex flex-col items-center pt-4 divide-y divide-stone-900 ">
            <p class="w-11/12  text-left rounded-t-lg p-4 ">Static Validations</p>
            <div class="w-11/12 bg-white text-left rounded-t-lg p-4 flex justify-between">
                <label for="dynamicValidation">Required</label>
                <input type="checkbox" id="dynamicValidation" class="h-6 w-6">
            </div>
            <div class="w-11/12 bg-white text-left p-4 flex justify-between">
                <label for="dynamicValidation">Minimum Number</label>
                <input type="checkbox" id="dynamicValidation" class="h-6 w-6">
            </div>
            <div class="w-11/12 bg-white text-left  p-4 flex justify-between">
                <label for="dynamicValidation">Maximum Number</label>
                <input type="checkbox" id="dynamicValidation" class="h-6 w-6">
            </div>
            <div class="w-11/12 bg-white text-left  p-4 flex justify-between">
                <label for="dynamicValidation">Minimum length</label>
                <input type="checkbox" id="dynamicValidation" class="h-6 w-6">
            </div>
            <div class="w-11/12 bg-white text-left  p-4 flex justify-between">
                <label for="dynamicValidation">Maximum length</label>
                <input type="checkbox" id="dynamicValidation" class="h-6 w-6">
            </div>
            <div class="w-11/12 bg-white text-left p-4 flex justify-between">
                <label for="dynamicValidation">Email</label>
                <input type="checkbox" id="dynamicValidation" class="h-6 w-6">
            </div>
            <div class="w-11/12 bg-white text-left  p-4 flex justify-between">
                <label for="dynamicValidation">Pattern</label>
                <input type="checkbox" id="dynamicValidation" class="h-6 w-6">
            </div>
            
            
            
        </div>
        <div class="w-full flex flex-col items-center pt-4">
            <div class="w-11/12 bg-white text-left rounded-t-lg p-4 flex justify-between">
                
                <label for="dynamicValidation">Dynamic Validations</label>
                <input type="checkbox" id="dynamicValidation" class="h-6 w-6">
            </div>
            
        </div>
    </div>
    <!-- Footer -->
    <div>

    </div>
    
    
</div>
